<%- include('../partials/user-header') %>

    <div class="col-12 text-center">
        <img src="/assets/imgs/Orderplaced.jpg" alt="">
        <h4>Your order is successfully placed!</h4>
        <br>
        <a href="/shop" class="btn btn-primary">Shop Now</a>
    </div>

    <%- include('../partials/user-footer') %>